<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ارتباط با ما</title>
    <style>
        *{
            text-align: right;
            direction: rtl;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        body{
            margin: 0%;
        }
        h1{
            background-color: #081828;
            color: white;
            padding: 5vh;
        }
        a{
            text-decoration: none;
            color: #11b76b;
        }
        footer{
            text-align: center;
            padding-top: 10px;
        }
    </style>
</head>
<body>
    <h1 style="direction: ltr;text-align: left;">GoeMart</h1>
    <div>
        <p>کاربر گرامی،

            ما از پیام شما و زمانی که برای ارتباط با ما اختصاص داده‌اید، بسیار قدردانیم. توجه شما به خدمات و محصولات ما نشان‌دهنده اهمیتی است که برای ما قائل هستید و این برای تیم ما ارزشمند است.
            
            تیم ما به دقت پیام شما را بررسی خواهد کرد و تلاش خواهیم کرد تا در کوتاه‌ترین زمان ممکن به درخواست یا سوال شما پاسخ دهیم. ما متعهدیم که از نظرات و پیشنهادات شما برای بهبود هرچه بیشتر خدمات و محصولات خود استفاده کنیم.
            
            اگر سوال یا مورد فوری دارید، می‌توانید با شماره تماس مستقیم ما تماس بگیرید. همچنین، در صورتی که مایل به دریافت اطلاعات بیشتر درباره خدمات ما هستید، وب‌سایت و رسانه‌های اجتماعی ما را دنبال کنید.
            
            با تشکر مجدد از انتخاب شما و اعتماد به ما. منتظر همکاری‌های بیشتر با شما هستیم.
            </p>
    </div>
    <footer>
        <span>@حق چاپ 2024 <a href="">گومارت</a> کلیه حقوق محفوظ است</span>
    </footer>
</body>
</html>