{% load static %}
<div class="col-lg-3">
    <div class="sidebar">
        <div class="sidebar-top">
            <div class="sidebar-profile-img">
                <img src="{% static "assets/img/account/user.jpg" %}" alt>
                <button type="button" class="profile-img-btn"><i class="far fa-camera"></i></button>
                <input type="file" class="profile-img-file">
            </div>
            <h5>آنتونی جانسون</h5>
            <p><a href="https://theme-script.ir/cdn-cgi/l/email-protection" class="__cf_email__"
                  data-cfemail="0c6d62786362654c69746d617c6069226f6361">ad@info.com</a></p>
        </div>
        <ul class="sidebar-list">
            <li><a href="user-dashboard.html"><i class="far fa-gauge-high"></i> داشبورد</a></li>
            <li><a class="active" href="user-profile.html"><i class="far fa-user"></i> نمایه من</a>
            </li>
            <li><a href="order-list.html"><i class="far fa-shopping-bag"></i> فهرست سفارشات من <span
                    class="badge badge-danger">02</span></a></li>
            <li><a href="wishlist.html"><i class="far fa-heart"></i> فهرست علاقمندی های من <span
                    class="badge badge-danger">02</span></a></li>
            <li><a href="address-list.html"><i class="far fa-location-dot"></i> فهرست آدرس</a></li>
            <li><a href="support-ticket.html"><i class="far fa-headset"></i> بلیط‌های پشتیبانی <span
                    class="badge badge-danger">02</span></a></li>
            <li><a href="track-order.html"><i class="far fa-map-location-dot"></i> سفارش من را پیگیری کنید</a>
            </li>
            <li><a href="payment-method.html"><i class="far fa-wallet"></i> روش‌های پرداخت</a></li>
            <li><a href="user-notification.html"><i class="far fa-bell"></i> اعلان <span
                    class="badge badge-danger">02</span></a></li>
            <li><a href="user-message.html"><i class="far fa-envelope"></i> پیام‌ها <span
                    class="badge badge-danger">02</span></a></li>
            <li><a href="user-setting.html"><i class="far fa-gear"></i> تنظیمات</a></li>
            <li><a href="#"><i class="far fa-sign-out"></i> خروج</a></li>
        </ul>
    </div>
</div>