{% load static %}
<footer class="footer-area">
    <div class="footer-widget">
        <div class="container">
            <div class="row footer-widget-wrapper pt-100 pb-70">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box about-us">
                        <a href="#" class="footer-logo">
                            <img src="{% static "assets/img/logo/logo-light.png" %}" alt>
                        </a>
                        <p class="mb-1">
                            ما انواع مختلفی از معابر در دسترس داریم، اما عمده آن دچار تغییر شده است
                            به شکلی با تزریق
                        </p>
                        <div class="footer-call">
                            <div class="footer-call-icon">
                                <i class="fal fa-headset"></i>
                            </div>
                            <div class="footer-call-info">
                                <p>24 ساعته به کمک نیاز دارید؟</p>
                                <a href="tel:+21236547898">09555555555</a>
                            </div>
                        </div>
                        <div class="footer-download">
                            <h5>برنامه موبایل ما را دریافت کنید</h5>
                            <div class="footer-download-btn">
                                <a href="#">
                                    <i class="fab fa-google-play"></i>
                                    <div class="download-btn-info">
                                        <span>آن را روشن کنید</span>
                                        <h6>گوگل پلی</h6>
                                    </div>
                                </a>
                                <a href="#">
                                    <i class="fab fa-app-store"></i>
                                    <div class="download-btn-info">
                                        <span>آن را روشن کنید</span>
                                        <h6>فروشگاه برنامه</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">پیوندهای سریع</h4>
                        <ul class="footer-list">
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">فروشنده شوید</a></li>
                            <li><a href="#">با ما تماس بگیرید</a></li>
                            <li><a href="#">اخبار به‌روزرسانی</a></li>
                            <li><a href="#">شاهدات</a></li>
                            <li><a href="#">شرایط خدمات</a></li>
                            <li><a href="#">خط مشی رازداری</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">مرور رده</h4>
                        <ul class="footer-list">
                            <li><a href="#">لوازم جانبی</a></li>
                            <li><a href="#">خانه و باغ</a></li>
                            <li><a href="#">الکترونیک</a></li>
                            <li><a href="#">سلامت و زیبایی</a></li>
                            <li><a href="#">مواد غذایی</a></li>
                            <li><a href="#">اسباب‌بازی‌های کودک</a></li>
                            <li><a href="#">موسیقی و ویدیو</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">مرکز پشتیبانی</h4>
                        <ul class="footer-list">
                            <li><a href="#">سؤالات متداول</a></li>
                            <li><a href="#">نحوه خرید</a></li>
                            <li><a href="#">مرکز پشتیبانی</a></li>
                            <li><a href="#">سفارش خود را پیگیری کنید</a></li>
                            <li><a href="#">خط مشی بازگشت</a></li>
                            <li><a href="#">شرکت‌های وابسته ما</a></li>
                            <li><a href="#">نقشه سایت</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">تماس بگیرید</h4>
                        <p>از امروز با ما در تماس باشید. ما آماده کمک به شما هستیم.</p>
                        <ul class="footer-contact">
                            <li><a href="tel:+21236547898"><i class="far fa-phone"></i>09333333333</a></li>
                            <li><i class="far fa-map-marker-alt"></i>نیویورک ، خیابان میلفورد </li>
                            <li><a href="https://theme-script.ir/cdn-cgi/l/email-protection#d9b0b7bfb699bca1b8b4a9b5bcf7bab6b4"><i
                                    class="far fa-envelope"></i><span class="__cf_email__"
                                                                      data-cfemail="7e171018113e1b061f130e121b501d1113">ad@info.com</span></a>
                            </li>
                            <li><i class="far fa-clock"></i>دوشنبه تا جمعه (9:00 صبح تا 8:00 عصر)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="footer-top-link">
                        <h5>پیوندهای برتر</h5>
                        <div class="footer-top-link-info">
                            <a href="#">فروشندگان برتر</a>
                            <a href="#">موارد جدید</a>
                            <a href="#">لوازم جانبی</a>
                            <a href="#">الکترونیک</a>
                            <a href="#">مواد غذایی</a>
                            <a href="#">زیبایی</a>
                            <a href="#">سلامت</a>
                            <a href="#">اسباب‌بازی‌های کودک</a>
                            <a href="#">موسیقی</a>
                            <a href="#">مبلمان</a>
                            <a href="#">هدایا</a>
                            <a href="#">ورزش</a>
                            <a href="#">خودرو</a>
                            <a href="#">تماشا کنید</a>
                            <a href="#">نقشه سایت</a>
                            <a href="#">شرکت‌های وابسته ما</a>
                            <a href="#">خط مشی بازگشت</a>
                            <a href="#">ویدئو</a>
                            <a href="#">خانه و باغ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="copyright-wrap">
                <div class="row">
                    <div class="col-12 col-lg-4 align-self-center">
                        <div class="footer-payment">
                            <span>می پذیریم:</span>
                            <img src="{% static "assets/img/payment/visa.svg" %}" alt>
                            <img src="{% static "assets/img/payment/mastercard.svg" %}" alt>
                            <img src="{% static "assets/img/payment/amex.svg" %}" alt>
                            <img src="{% static "assets/img/payment/discover.svg" %}" alt>
                            <img src="{% static "assets/img/payment/paypal.svg" %}" alt>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 align-self-center">
                        <p class="copyright-text">
                            © حق چاپ <span id="date">2024</span> <a href="#"> گومارت </a> کلیه حقوق محفوظ است.
                        </p>
                    </div>
                    <div class="col-12 col-lg-4 align-self-center">
                        <div class="footer-social">
                            <span>ما را دنبال کنید:</span>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>